<meta charset="UTF-8">
<script src="https://unpkg.com/vue"></script>

<div id="app">
    <ul>
        <li v-for="(cor, i) in cores"> {{ i + 1 }}° {{ cor }}</li>
    </ul>

    <template v-for="(cor, i) in cores">
        <h1> {{ i }})  </h1>
        <h1> {{ cor }} </h1>
    </template>
    <hr>
    <ul>
        <li v-for="pessoa in pessoas">

            <div class="emojis" v-for="(valor, chave, index) in pessoa">
               {{ index +1 }}) {{ chave }}: {{ valor }} &#128073; &#129464; &#128072;
            </div>
        </li>
    </ul>   
</div>

<script>
    new Vue({
        el: '#app',
        data: {
            cores: ['Vermelho', 'Verde', 'Azul', 'Amarelo'],
            pessoas: [
                {nome: 'Ana ', idade: '26', peso: '76'},
                {nome: 'Neto', idade: '27', peso: '70'},

            ]            
        }
    })
</script>

<style>
 ul {
     list-style: none;
     color: blueviolet;
     box-sizing: border-box;
     font-size: 36px;
 }

 h1, p {
     display: inline;
     color: brown;
     border: 2px ridge burlywood;
 }

 .emojis {
     color: rgb(78, 211, 235);
     display: flex;
 }
</style>